<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.event.name }} - {{ page.event.data }} | Bérénice Batut</title>
        <link rel="stylesheet" href="{{ "/reveal.js/css/reveal.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/reveal.js/css/theme/simple.css" | prepend: site.baseurl }}" id="theme">
        <!-- Code syntax highlighting -->
        <link rel="stylesheet" href="{{ "/reveal.js/lib/css/zenburn.css" | prepend: site.baseurl }}">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" href="{{ "/assets/css/slides.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section data-markdown="slides.md"
                    data-separator="^---\n"
                    data-separator-vertical="^----\n"
                    data-separator-notes="^Note:"
                >
                </section>
            </div>
        </div>
        <script type="text/javascript" src="{{ "/reveal.js/lib/js/head.min.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ "/reveal.js/js/reveal.js" | prepend: site.baseurl }}"></script>
        <script type="text/javascript">
            Reveal.initialize({
                slideNumber: !window.location.search.match(/print-pdf/gi),
                history: true,

                theme: Reveal.getQueryHash().theme,
                transition: Reveal.getQueryHash().transition || 'concave',

                dependencies: [
                    { src: "{{ "/reveal.js/lib/js/classList.js" | prepend: site.baseurl }}", condition: function() { return !document.body.classList; } },
                    { src: "{{ "/reveal.js/plugin/markdown/marked.js" | prepend: site.baseurl }}", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: "{{ "/reveal.js/plugin/markdown/markdown.js" | prepend: site.baseurl }}", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: "{{ "/reveal.js/plugin/highlight/highlight.js" | prepend: site.baseurl }}", async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: "{{ "/reveal.js/plugin/math/math.js" | prepend: site.baseurl }}", async: true },
                    { src: "{{ "/reveal.js/plugin/notes/notes.js" | prepend: site.baseurl }}", async: true },
                ]
            });
        </script>
    </body>
</html>
